*
!.gitignore
!*.md
!docs/
!docs/*.html
!docs/*.md
!docs/*.ico
!licenses/
!licenses/*.md
!licenses/*.txt
!macos/
!macos/engine.xcodeproj/
!macos/engine.xcodeproj/project.pbxproj
!macos/engine.xcodeproj/project.xcworkspace/
!macos/engine.xcodeproj/project.xcworkspace/*.xcworkspacedata
!macos/engine.xcodeproj/project.xcworkspace/xcshareddata/
!macos/engine.xcodeproj/project.xcworkspace/xcshareddata/*.plist
!macos/engine.xcodeproj/xcshareddata/
!macos/engine.xcodeproj/xcshareddata/xcschemes/
!macos/engine.xcodeproj/xcshareddata/xcschemes/*.xcscheme
!macos/*.md
!scripts/
!scripts/*.bat
!scripts/*.md
!scripts/*.sh
!src/
!src/*.cpp
!src/*.hpp
!src/*.md
!win32/
!win32/*.ico
!win32/*.md
!win32/*.rc
!win32/*.xml
